<body class="container">
<h1 class="h1">Bug Management</h1>
<form>
  <h5 class="h5">Create a new bug</h5>
  <div class="d-flex w-50">
    <div class="form-group d-flex align-items-end">
      <div class="me-2">
        <label>Bug description</label>
        <input [(ngModel)]="newBug.description" type="text" name="username" class="form-control" required>
      </div>
      <div>
        <label>Severity</label>
        <select [(ngModel)]="newBug.severity" required class="form-select" name="languages">
          <option [value]="severityCritical">Critical</option>
          <option [value]="severityMajor">Major</option>
          <option [value]="severityMinor">Minor</option>
        </select>
      </div>
      <button (click)="validate()" class="btn btn-primary mx-2">Submit a new bug</button>
    </div>

  </div>
  <div class="my-5">
    <h5>Active bugs</h5>
    <ul class="list-group" *ngFor="let bug of bugService.listOfBugs">
      <li class="list-group-item w-50 d-flex justify-content-between flex-wrap flex-grow-1">
        <div class="d-flex align-items-center flex-wrap">
          {{bug.description}}
          <span *ngIf="bug.severity == severityCritical" class=" rounded text-white p-1 bg-danger mx-2">{{bug.severity}}</span>
          <span *ngIf="bug.severity == severityMajor" class="rounded text-white p-1 bg-warning mx-2">{{bug.severity}}</span>
          <span *ngIf="bug.severity == severityMinor" class="rounded text-white p-1 bg-info mx-2">{{bug.severity}}</span>
        </div>
        <button (click)="toggle(bug)" class="btn btn-success">Mark as fixed</button>
      </li>
    </ul>
  </div>

  <div>
    <h5>Inactive bugs</h5>
    <ul class="list-group " *ngFor="let bug of bugService.listOfInactiveBugs">
      <li class="list-group-item w-50 d-flex justify-content-between flex-wrap flex-grow-1">
        <div class="d-flex align-items-center flex-wrap">
          <span class="text-decoration-line-through">{{bug.description}}</span>
          <span *ngIf="bug.isFixed  " class="rounded text-white p-1 bg-success mx-2">Fixed</span>
        </div>
        <button (click)="toggle(bug)" class="btn btn-danger">Mark as broken</button>
      </li>
    </ul>
  </div>
</form>
</body>
